.menu{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menulist{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:50px;
}

.menuItem{
    width:350px;
    height:350px;
    margin:20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.menuItem div{
    height:250px;
    width:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menuItem h1, p{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
@media only screen and (max-width:1300px){
    .menulist{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media only screen and (max-width:800px){
    .menulist{
        grid-template-columns: 1fr;
    }
    
}